:root {
    --bg-color: #1c1e27;

    --width: 950px;
}
* {
    font-family: "Montserrat", sans-serif;
}

body,
h1,
h2,
h3,
p,
a {
    margin: 0;
    padding: 0;
}

body {
    overflow: hidden;

    /* remove backslash! */
    background-image: url("https://nyyu.github.io/Test-04/public/images/bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.container {
    margin: auto;

    width: 950px;
    height: 100vh;
    box-shadow: 0 0 150px 450px var(--bg-color);
}

.nav {
    color: white;
    display: flex;
    gap: 15px;
    flex: 1 0;
    padding: 35px;
    padding-bottom: 0;
    justify-content: space-between;
    align-items: center;
}

.nav div:nth-child(2) {
    text-align: center;
}
.nav div:nth-child(2) h3 {
    font-size: 30px;
    font-weight: 500;
}
.nav div:nth-child(2) p {
    font-size: 20px;
    letter-spacing: 0.35em;
}

.user i:nth-child(1) {
    margin-right: 10px;
}

.carousel-btn {
    display: flex;
    justify-content: space-between;
    margin: 0 20px 0 20px;

    position: relative;
    top: calc(40vh - 32.5px);
}

.btn-round {
    width: 65px;
    height: 65px;

    border-radius: 100%;
    background: hsl(0, 0%, 100%, 25%);
    color: #000000;

    display: grid;
    place-items: center;
}

.border {
    width: 280px;
    height: 280px;

    position: absolute;
    display: flex;
}

.bottom {
    border-bottom: 1px solid white;
    border-left: 1px solid white;

    bottom: 15px;
    margin-left: 15px;
}
.top {
    border-top: 1px solid white;
    border-right: 1px solid white;

    /* Container's width - (border-size + 25px) */
    margin-left: calc(var(--width) - 295px);
    top: 15px;
}
